<html>
<head>
<title>João NEWS</title>
<meta charset="UTF-8">
<link rel="stylesheet" href="C:/Projetos/JoãoNews/css/estilos.css">
</head>
<body>
 <h1>João NEWS</h1>
 <h3>Noticias 100% reais.</h3>
<hr>
 <p style="text-align: center;"><b>MUSICA!</b></p>
 <audio controls style="width: 500px; margin-left: 23pc; margin-right: 23pc;">
	<source src="../Medias/FOX.mp3" type="audio/mpeg">
	Seu browser não suporta a tag audio!
 </audio>
 <p><a href="../Index.html">Voltar</a></p>
<hr>
 <p>Desenvolvido por: João Henrique&copy;</p>
</body>
</html>