<html>
<head>
<title>João NEWS</title>
<meta charset="UTF-8">
<link rel="stylesheet" href="../css/estilos.css">
</head>
<body style="overflow: visible;">
 <h1>João NEWS</h1>
 <h3>Noticias 100% reais.</h3>
<hr>
 <p><b>TREINO DO CORINTHIANS!</b></p>
 <p>Na manhã desta quinta-feira (22), no CT Dr. Joaquim Grava,
	o elenco do Timão voltou às atividades em campo pensando no próximo confronto do Brasileiro,
	contra o Fortaleza, fora de casa.
	Confira tudo o que aconteceu no video a seguir.</p>
  <p><a href="../index.html">Voltar</a></p>
   <p>Desenvolvido por: João Henrique&copy;</p>
 <video src="../Medias/Corinthians.mp4" controls style="margin-right: 16pc; margin-left: 16pc;">
<hr>
</body>
</html>
