<html>
<head>
<title>João NEWS</title>
<meta charset="UTF-8">
<link rel="stylesheet" href="C:/Projetos/JoãoNews/css/estilos.css">
</head>
<body>
 <h1>João NEWS</h1>
 <h3>Noticias 100% reais.</h3>
<hr>
 <p><b>NOTICIA SOBRE ARARA AZUL!</b></p>
 <p>Um filhote de arara-azul-de-lear nasceu na noite deste sábado (16), no Zoológico de São Paulo.
	A espécie está ameaçada de extinção e, por isso, conta com um programa de conservação, 
	que tem como objetivo a reinserção das aves na natureza.
	Segundo o zoológico, ele é o único no continente americano a reproduzir a espécie.
	"É um presente para a equipe do Zoológico, que hoje [sábado] completa 66 anos de existência", informou em nota o parque.</p>
 <p>A arara-azul-de-lear é endêmica do Brasil, com ocorrência no nordeste da Bahia, região de caatinga.
	A ave está ameaçada principalmente em função do tráfico de animais e da destruição de seu habitat. 
	Estima-se que existam apenas pouco mais de 2 mil indivíduos na natureza.</p>
 <img src="https://agenciapara.com.br/midias/2022/grandes/12700_eb2e97a1-e06b-48d4-25bd-97dde1cc61d7.jpg" class="arara">
 <p><a href="../index.html">Voltar</a></p>
<hr>
 <p>Desenvolvido por: João Henrique&copy;</p>
</body>
</html>
